.status {
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.todoList,
input {
	border-radius: 0.3rem;
}
.todoList {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
