.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 90vh;
	width: 40vw;
	padding-top: 10vh;
	z-index: 999999;
	& > div {
		width: 100%;
		color: #000;
	}
}
