.dark {
	background-color: $very-dark-blue;
	.background {
		background: url('../../Assets/images/bg-desktop-dark.jpg') center;
	}
	div * {
		color: $light-grayish-blue;
	}
	div.todoCard,
	input {
		background-color: $very-dark-blue-desat;
		border-bottom: 1px solid $very-dark-grayish-blue;
		.completed {
			color: $very-dark-grayish-blue;
			* {
				color: $very-dark-grayish-blue;
			}
		}
	}
	.incomplete {
		&::after {
			background: $very-dark-blue-desat;
		}
	}

	.status {
		background-color: $very-dark-blue-desat;
		& * {
			color: $very-dark-grayish-blue;
		}
	}
}
