.light {
	background-color: $very-light-gray;
	color: $very-dark-grayish-blue;
	.background {
		background: url('../../Assets/images/bg-desktop-light.jpg') center;
	}
	div.todoCard {
		background-color: $very-light-gray;
		border-bottom: 1px solid $light-grayish-blue;
		.completed {
			color: $light-grayish-blue;
		}
	}

	.incomplete {
		&::after {
			background: $very-light-gray;
		}
	}

	.status {
		background-color: $very-light-gray;
		& * {
			color: $dark-grayish-blue;
			font-weight: 700;
		}
		.filter {
			& > p:hover {
				color: $very-dark-grayish-blue;
			}
		}
	}
}
