.app {
	position: relative;
	display: flex;
	height: 100vh;
	justify-content: center;
	font-family: $default-font;
	font-weight: 400;

	.background {
		position: fixed;
		background: url('../../Assets/images/bg-desktop-light.jpg') center;
		background-size: cover;
		height: 33vh;
		width: 100vw;
	}
}
