.app {
	position: relative;
	display: flex;
	justify-content: center;
	background: url('../../Assets/images/bg-desktop-light.jpg') center;
	background-size: cover;
	height: 33vh;
	font-family: $default-font;
	font-weight: 400;
	font-size: 18px;
}
