.header {
	display: flex;
	justify-content: space-between;
	h1 {
		color: $very-light-gray;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1rem;
	}
	button {
		background-color: transparent;
		border: none;
		&:focus {
			outline: none;
		}
	}
}
