.todo {
	font-size: 1.1rem;
	& > div,
	input {
		border-radius: 0.3rem;
	}
	.form-group input {
		border: none;
		margin: 1.7rem 0;
		padding: 1.3rem;
		width: 100%;
	}
	.todoList {
		overflow: hidden;
		.todoCard {
			padding: 1.3rem;
		}
	}
}
