.todo {
	font-size: 1.1rem;
	& > .todoList,
	input {
		border-radius: 0.3rem;
	}
	.todoList {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.form-group input {
		border: none;
		margin: 1.7rem 0;
		padding: 1.3rem;
		width: 100%;
		&:-webkit-autofill {
			background-color: $very-dark-blue-desat !important;
		}
	}
	.todoList {
		overflow: hidden;
		.todoCard {
			display: flex;
			padding: 1.3rem;
			justify-content: space-between;
			.task {
				flex-grow: 2;
				padding: 0 1rem;
				align-self: center;
				border: none;
				cursor: pointer;
				&.completed {
					background: transparent;
					text-decoration: line-through;
				}
			}
			.toggleComplete {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 1.4rem;
				height: 1.4rem;
				border-radius: 50%;
				overflow: hidden;
				&:hover {
					cursor: pointer;
				}
				&.completed {
					background: $check-background;
				}
				&.incomplete {
					display: flex;
					align-items: center;
					position: relative;
					background: $check-background;
					border-radius: 50%;
					&::after {
						content: '';
						width: 1.15rem;
						height: 1.2rem;
						border-radius: 50%;
					}
				}
			}

			.delete {
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
